# AI API configuration
AI_API_KEY=your-api-key-here
AI_BASE_URL=https://aihubmix.com/v1
APP_CODE=

MODELSCOPE_API_KEY=
MODELSCOPE_BASE_URL=https://api-inference.modelscope.cn/v1

# PostgreSQL configuration
DB_HOST=your-host
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.mzkkarjsurcekiuxauos
DB_PASSWORD=your-database-password
DB_SSLMODE=require

# FastAPI configuration
API_HOST=0.0.0.0
API_PORT=8000
